# Virtual Environments
venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Databases
*.db
*.sqlite3
portfolio.db

# Environment variables / Secrets
.env

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db